/* App.scss */

.order-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  background-color: #f2f2f2;
  padding: 10px;
}

.order-status, .items, .quantity, .price {
  font-weight: bold;
}

.order-items {
  display: flex;
  flex-direction: column;
}

.order-item {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border-bottom: 1px solid #ccc;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.edit-icon,
.delete-icon {
  cursor: pointer;
  margin-right: 8px;
}
